
* {
    background-image: url(https://static.poder360.com.br/2021/10/criptomoeda-bitcoin-768x481.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    text-align: center;
    color: antiquewhite;
}